@* @using Kitchen.ViewModel *@
@* @model IEnumerable<CustomerWithAccountViewModel> *@
@* @{ *@
@*     ViewData["Title"] = "All"; *@
@* } *@

@* <div style="margin-top:30px"> *@
@*     <h1 style="text-align:center">Trainees</h1> *@

@*     <table class="table table-bordered table-hover" style="border-radius: 10px; overflow: hidden; box-shadow: 0 4px 8px rgba(0,0,0,0.1); transition: all 0.3s ease;"> *@
@*         <thead style="background-color: #ec610c; color: white;"> *@
@*             <tr> *@
@*                 <th style="padding: 12px;">Customer ID</th> *@
@*                 <th style="padding: 12px;">Phone Number</th> *@
@*                 <th style="padding: 12px;">Name</th> *@
@*                 <th style="padding: 12px;">Address</th> *@
@*                 <th style="padding: 12px;">Email </th> *@
@*                 <th style="padding: 12px;">Account ID </th> *@
@*                 <th style="padding: 12px;">Order </th> *@
@*             </tr> *@
@*         </thead> *@
@*         <tbody class="text-white"> *@
@*             @foreach (var item in Model) *@
@*             { *@
@*                 <tr style="transition: all 0.2s ease; "> *@
@*                     <td style="padding: 12px;">@item.Id</td> *@
@*                     <td style="padding: 12px;">@item.PhoneNumber</td> *@
@*                     <td style="padding: 12px;">@item.Name</td> *@
@*                     <td style="padding: 12px;">@item.Address</td> *@
@*                     <td style="padding: 12px;">@item.Email</td> *@
@*                     <td style="padding: 12px;">@item.AccountId</td> *@
@*                     <td style="padding: 12px;"> *@
@*                         <a href="/Dish/All">Make order</a> *@
@*                     </td> *@
@*                 </tr> *@
@*             } *@
@*         </tbody> *@
@*     </table> *@
@* </div> *@
@* <style> *@
@*     .table-hover tbody tr:hover { *@
@*         background-color: rgba(47, 69, 108, 0.1); *@
@*         transform: translateY(-2px); *@
@*         box-shadow: 0 2px 4px rgba(0,0,0,0.1); *@
@*     } *@


@* </style> *@